.enterDet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // height: 100vh;
  // overflow: auto;
  position: relative;
}

.enterDet_top {
  background-color: #ffffff;
  padding: 0 30px;
  width: 100%;

  &-title {
    font-weight: 700;
    font-size: 34px;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }

  &-type {
    font-size: 24px;
    color: #c41d7f;
    background-color: #fff0f6;
    border: 0px solid #ffadd2;
    border-radius: 12px;
    padding: 4px 20px;
    border-width: 2px;
    margin-left: 20px;
  }

  &-tag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;

    &-item {
      font-size: 24px;
      color: #000000;
      border: 0px solid #d6d5d5;
      border-radius: 20px;
      padding: 4px 20px;
      border-width: 2px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    &-items {
      font-size: 24px;
      color: #08979c;
      background: #dbfdf7;
      border-radius: 20px;
      padding: 4px 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  &-brief {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    color: #000000;
    margin-top: 10px;

    &-info {
      font-size: 24px;
      color: #6d6d6d;
      margin-bottom: 12px;
    }

    &-item {
      font-size: 25px;
      color: #000000;
      line-height: 34px;
    }
  }
}

.enterDet_time {
  background-color: #ffffff;
  padding: 0 30px;
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  &-list {
    border: 0px solid #dddddd;
    border-bottom-width: 1px;
    padding: 22px 0;

    &-info {
      font-size: 26px;
      color: #5f5f5f;
      font-weight: 700;
      margin-bottom: 12px;
    }

    &-item {
      font-size: 26px;
      color: #000000;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    &-col {
      color: #434d8b;
    }
  }
}

.enterDet_personnel {
  background-color: #ffffff;
  padding: 0 30px;
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  &-box {
    border: 0px solid #dddddd;
    border-bottom-width: 1px;
    padding: 20px 0 20px 0;
  }

  &-title {
    font-size: 28px;
    color: #000000;
    font-weight: 700;
    margin-top: 24px;
  }

  &-cent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    &-logo {
      width: 70px;
      height: 70px;
      background-color: #7ca4df;
      border-radius: 10px;
      margin-right: 20px;
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

    }

    &-title {
      font-size: 28px;
      color: #000000;
      font-weight: 700;
    }

    &-tags {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &-tag {
      color: #007acc;
      background: #bddef5;
      border-radius: 20px;
      padding: 4px 20px;
      font-size: 18px;
      margin-top: 12px;
      margin-right: 12px;
    }

    &-tag1 {
      color: #e48935;
      background: #f5e4cd;
    }

    &-tit {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &-info {
      font-size: 20px;
      color: #5f5f5f;
      margin-top: 10px;
    }
  }

  &-li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }

  &-list {
    margin-top: 20px;
    width: 50%;

    &-info {
      font-size: 26px;
      color: #5f5f5f;
      margin-bottom: 2px;
    }

    &-item {
      font-size: 28px;
      padding-left: 10px;
      color: #000000;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
  }


}