.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;


}

.question_tip{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2px;
  font-size: 20px;
  width:100%;
  padding-left: 50px;
  &-icon{
    color: rgb(255, 0, 0);
    margin-right: 5px;
    padding-top: 4px;
  }
}

.question_pick {
  width: 100%;

  &-tas {
    width: 750px;
    justify-content: flex-start;
}

  &-li {
    font-size: 32px;
    color: $color-text;
    border: 0 solid $color-brand;
    border-left-width: 8px;
    padding-left: 20px;
    font-weight: 700;
    min-width: 190px;
  }

  &-right {
    text-align: left;
    font-size: 32px;
    color: $color-text;
    font-weight: 400;
    border: 0 solid rgb(121, 121, 121);
    border-bottom-width: 1px;
    min-width: 430px;
    margin-left: 40px;

  }
}

.question_tas {
  justify-content: flex-start;

  &-tit {
    font-weight: 700;
    font-size: 30px;
    color: $color-text;
    border: 0 solid $color-brand;
    border-left-width: 8px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.question_text {
  background-color: #fff;
  width: 100%;
  margin-top: 20px;
  padding: 32px 32px;
  min-height: 500px;

  &-cent {
    border: 0 solid #aaaaaa;
    border-width: 1px;
    min-height: 400px;
    padding: 12px;
    border-radius: 14px;
  }
}

.question_button {
  margin-top: 100px;
  width: 60%;

  &-t {
    padding: 10px 0;
    line-height: 70px;
    text-align: center;
    color: $color-f;
    font-weight: 700;
    font-size: 32px;
  }
}