.policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.policy_img1{
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
}


.policy_cent {
  display: flex;

  &-load {
    // background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 420px 0 10px;
    font-size: 26px;
    color: #707070;

    &-img {
      height: 60px;
      width: 160px;
      margin-right: 20px;
    }
  }
 

  &-title {
    font-weight: 700;
    font-size: 34px;
    // width: 100%;
    text-align: left;
    padding: 12px 40px 0 40px;
    color: #000;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }

  &-info {
    font-size: 24px;
    color: #777;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 40px;
    margin-bottom: 4px;
  }

  &-tag {
    font-size: 24px;
    // font-weight: 700;
    // color: #0aa8ad;
    // background: #c7eee7;
    color: #1677ff;
    background: #d9edfc;
    line-height: 40px;
    border-radius: 12px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 12px;

  }

  &-cont {
    font-size: 24px;
    line-height: 46px;
    // margin-top: 30px;
    text-align: left;
    // width: 100%;
    padding: 0px 40px;
    color: #4d4d4d;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 720px;

    // justify-content: center;
    &-t {
      color: #05a89b;
      font-weight: 700;
      font-size: 24px;
    }

  }

  &-down{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
   
    &-img{
      width: 34px;
      height: 34px;
      margin-right: 8px;
    }
    &-t {
      line-height: 32px;
      text-align: center;
      color: #05a89b;
      font-size: 26px;
     
    }
  }

  &-clik {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 750px;
    padding: 0 30px;
    margin-bottom: 10px;
  }
 

  &-but {
    max-width: 28%;
    margin-top: 12px;
    // margin-left: 26px;
    &-t {
      line-height: 50px;
      text-align: center;
      color: $color-f;
      // font-weight: 700;
      font-size: 30px;
     
    }
    &-info{
      line-height: 50px;
      text-align: center;
      color: $color-f;
      font-size: 32px;
    }
  }
}

