.list {
  background-color: #edecee;
  height: 100%;
}

.list_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px 40px 24px;
  background-color: #ffffff;
  &-more{
    margin-top: 40px;
  }

  &-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-img{
      width: 120px;
      height: 120px;
    }
    &-title{
        font-size: 28px;
        color: #000000;
        font-weight: 700;
        margin: 0 20px;
  }
  }
}

.list_list{
  // height: 100vh;
  &-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    color: #000000;
    margin: 20px 20px 0px;
    background-color: #ffffff;
    padding:0px 24px 14px;
    border-radius: 14px;
    box-shadow: 2px 5px 10px rgba($color: #000000, $alpha: 0.08);
    &-cent{
      min-height: 100px;
      max-width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content:space-between;
      text-align: left;
      font-size: 26px;
      color: #000000;
      &-title{
        font-size: 28px;
        color: #000000;
        margin-top: -20px;
      }
      &-left{
        padding-left: 12px;
        border: 0 solid $color-brand-bc;
        border-left-width: 4px;
        margin-top: 12px;
        color: #000000;
        font-size: 24px;
        font-weight: 700;
      }
      &-answer{
        font-size: 24px;
        color: #000000;
        margin-top: 10px;
        padding-left: 12px;
      }
      &-info{
        font-size: 22px;
        color: #777;
        margin-top: 10px;
      }
    }
    &-img{
      width: 180px;
      height: 140px;
      border-radius: 14px;
      &-cent{
        width: 100%;
        height: 100%;
      }
    }
  }
}

.list_but{
  position: fixed;
  right: 10px;
  bottom: 20px;
  background-color: $color-brand-bc;
  padding: 60px 10px;
  border-radius: 100px;
  &-item{
    color: #ffffff;
  }
}
 

.list_msk{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 20px;
  background-color: #fff;
  width: 90%;
  border-radius: 32px;
  position: relative;
  margin-top: -200px;

  &-cent{
    margin-bottom: 30px;
    // min-height: 90PX;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    text-align: left;
    font-size: 26px;
    color: #000000;
    &-left{
      padding-left: 12px;
      border: 0 solid $color-brand-bc;
      border-left-width: 4px;
      margin-top: 20px;
      color: #000000;
      font-weight: 700;
    }
    &-answer{
      font-size: 26px;
      color: #000000;
      margin-top: 24px;
    }
    &-info{
      font-size: 22px;
      color: #777;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &-close {
      position: absolute;
      top: -120px;
      right: 30px;
      width: 85px;
      height: 85px;
  }

  &-top {
      color: $color-text;
      font-size: 36px;
      font-weight: 700;
      margin: 20px 0;
      width: 100%;
      text-align: center;
  }

  // code
  &-code {
      width: 90%;
      line-height: 42px;
      border: 0 solid #b6b6b6;
      border-width: 1px;
      padding: 12px;
      border-radius: 12px;

  }

  &-but {
      margin: 32px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      &-img1 {
          width: 55px;
          height: 40px;
          margin-right: 24px;
          padding: 10px;
      }

      &-img {
          width: 45px;
          height: 45px;
          margin-right: 44px;
          padding: 10px;
      }
  }

  &-b {
      width: 100%;
      background-color: #f1f1f1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 22px 0;
      border-radius: 12px;
      margin-bottom: 12px;
      &-c {
          font-size: 34px;
          color: $color-brand-bc;
      }
  }
}
