page {
  background-color: #edecee;
}

@import './index.rn.scss';

/*  #ifdef  h5  */
.index_banner {
  &-swipe {
    height: 300px;
    width: 100%;
  }

  &-img {
    width: 100%;
    height: 300px;
  }
}

/*  #endif  */