page {
  background-color: #ffffff;
}

.login-sec {
  background-color: #ffffff;

  @import './index.rn.scss';

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  // padding: 32px;


}