 
.user {
  position: relative; 
  background-color: #fff;
}


.user_top {
  background: rgba(245, 245, 245, 1);
  margin: 90px 40px 40px;
  border-radius: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // border: 0 solid $color-brand-bc;
  // border-width: 4px;

  &-ava{
    width: 160px;
    height: 160px;
    background-color: #fff;
    // padding: 20px;
    border-radius: 100px;
    overflow: hidden;
    position: absolute;
    top: -90px;
    left: 50%;
    margin-left: -90px;
    border: 0 solid $color-brand-bc;
    border-width: 4px;

    &-img{
      width: 180px;
      height: 160px;
      margin-left: -24px;
    }
  }

  &-title {
    font-size: 40px;
    font-weight: 400;
    margin: 80px 0 40px;
    color: #000;
  }

  &_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
    &-item{
      width: 140px;
      font-size: 26px;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-between;
      &-cent{
        width: 180px;
        height: 160px;
        border-radius: 18px;
        padding: 12px 24px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        color: #000;
      }
      &-img{
        width: 70px;
        height: 70px;
      }
      &-text{
        margin-top: -20px;
        color: #000;
      }
     
      &-tit{
       margin-bottom: 30px;
       color: #000;
      }
    }
  }
}

.user_tas{
  justify-content: flex-start;
  &-tit {
    font-weight: 700;
    font-size: 30px;
    color: $color-text;
    border: 0 solid $color-brand;
    border-left-width: 8px;
    padding-left: 20px;
    padding-top: 6px;
    // padding-bottom: 6px;
  }

}


.user_gut{
  background-color: #fff;
  padding: 20px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &-scroll {
    padding-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-item{
      border-radius: 18px;
      box-shadow: 0 6px 16px rgba(1, 1, 1, 0.12);
      margin-right: 40px;
      margin-bottom: 30px;
      padding: 20px 50px 40px 20px;
      background: rgba(65, 71, 213, 1);
      position: relative;
    &-img{
      width: 120px;
      height: 100px;
      position: absolute;
      bottom: 0;
      right: 0px;
    }
    &-text{
      font-size: 32px;
      // margin-top: 12px;
      color: #ffffff;
      width: 220px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-info{
      font-size: 20px;
      margin-top: 12px;
      color: #ffffff;
      width: 220px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.user_ser{
  margin: 20px 40px;
  // width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 20px;
  background: rgba(247, 247, 247, 1);
  

  &-item{
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    &-img{
      width: 120px;
      height: 100px;
    }
     
    &-text{
      font-size: 26px;
      margin-top: 12px;
    }
  }
  &-help{
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-but{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 120px;
      height: 120px;
      padding: 0;
      margin: 0;
      border-radius: 0px;
    }
    
    &-img{
      width: 100px;
      height: 100px;
      &-cen{
        width: 80px;
        height: 80px;
      }
    }
    &-text{
      font-size: 26px;
    }
  }
}

.user_version {
  margin: 40px ;
  padding-bottom: 40px;
 text-align: center;
  font-size: 22px;
  color: #b6b6b6;
}